<html>
<head>
  <title>Adicionar Aluno</title>
  <style>
    :root {
      --main-color: #461d24;
      --text-color: #000000;
      }
    
    
    
      #alunos {
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    }
      #category {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }
      #buttons {
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid var(--main-color);
    }
    
    
    #page {border-radius: 75px;
    background-color: #e0e0e0;    height: auto;
    position: relative;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid;
    border-width: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: var(--main-color);
    
    
    }
    #particles-js {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     pointer-events: none;
    }
    
    .btn {
           display: inline-block;
           background-color: var(--main-color); /* Cor de fundo */
           color: #fff; /* Cor do texto */
           padding: 10px 20px; /* Espaçamento interno */
           text-decoration: none; /* Remover sublinhado padrão */
           border-radius: 5px; /* Borda arredondada */
           border: none; /* Remover borda */
           cursor: pointer; /* Mostrar cursor ao passar por cima */
           transition: background-color 0.3s; /* Transição suave de cor de fundo */
       }
    
       /* Estilo de hover do botão */
       .btn:hover {
           background-color: #6e202d; /* Altera a cor de fundo ao passar o mouse */
       }
    body {
    width: 1300px;
    margin: 0 auto;
    text-align: left;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(178deg, #efa7a7, #460417);
    color: var(--text-color);
    }
    h1 {
    color: var(--text-color);
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1200px;
    text-align: center;
    margin: 0 auto;}
    h2 {
    text-align: center;
    color: var(--text-color);
    
    }
    ul,p {
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    
    }
    </style>
</head>
<body><div id="particles-js"></div>
        
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
particlesJS('particles-js', {
"particles": {
  "number": {
      "value": 80,
      "density": {
          "enable": true,
          "value_area": 800
      }
  },
  "color": {
      "value": "#e80028" // Cor azul
  },
  "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
      }
  },
  "size": {
      "value": 5, // Tamanho das bolinhas
      "random": true,
      "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
      }
  },
  "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#e80028", // Cor azul
      "opacity": 0.4,
      "width": 1
  },
  "move": {
      "enable": true,
      "speed": 1, // Velocidade de movimento
      "direction": "top", // Direção para cima
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
      }
  }
},
"interactivity": {
  "detect_on": "canvas",
  "events": {
      "onhover": {
          "enable": true,
          "mode": "grab"
      },
      "onclick": {
          "enable": true,
          "mode": "push"
      },
      "resize": true
  },
  "modes": {
      "grab": {
          "distance": 140,
          "line_linked": {
              "opacity": 1
          }
      },
      "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
      },
      "repulse": {
          "distance": 200,
          "duration": 0.4
      },
      "push": {
          "particles_nb": 4
      },
      "remove": {
          "particles_nb": 2
      }
  }
},
"retina_detect": true
});
  </script>
  <div id="page">
  <h1>Adicionar Aluno</h1>
  <form action="/aluno" method="post">
    <p><label for="RA">RA:</label></p>
    <p><input type="text" id="RA" name="RA" required><br><br></p>
    <p><label for="nome">Nome:</label></p>
    <p><input type="text" id="nome" name="nome" required><br><br></p>
    <p><label for="dataNascimento">Data de Nascimento:</label></p>
    <p><input type="date" id="dataNascimento" name="dataNascimento" required><br><br></p>
    <p><button class="btn" type="submit">Adicionar Aluno</button></p>
  </form>
</div>
</body>
</html>